<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <form action="/create" method="post" th:object="${newBlog}">
        Description<input type="text" th:field="*{description}">
        Context<input type="text" th:field="*{context}">
        <input type="submit" value="submit">
    </form>
    <tr>
        <th>STT</th>
        <th>description</th>
        <th>context</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
    <tr th:each="blog,blogStat: ${blogs}">
        <td th:text="${blogStat.count}"></td>
        <td th:text="${blog.description}"></td>
        <td th:text="${blog.context}"></td>
        <td><a th:href="@{edit/{id}(id=${blog.getId()})}">Edit</a></td>
        <td><a th:href="@{delete/{id}(id=${blog.getId()})}">Delete</a></td>
    </tr>
</table>
</body>
</html>