<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{user}">Users</a>

<div>
    <form action="/create" method="post" th:object="${newBlog}">
        Description<input type="text" th:field="*{description}">
        Context<textarea th:field="*{context}"></textarea>
        User
        <select th:field="*{blogUser}" th:value="*{blogUser}">
            <option value="" disabled selected>Choose</option>
            <th:block th:each="userB:${users}">
                <option th:value="${userB.id}" th:text="${userB.getUserName()}"></option>
            </th:block>
        </select>
        <input type="submit" value="submit">
    </form>
    <p th:if="${msg}" th:text="${msg}"></p>
</div>
<a th:href="@{/sortbytime}">Sort by time</a>
<form action="/findbyuser" method="post">
    Find by user name <input th:name="userNameFind" type="text">
    <input type="submit" value="submit">
</form>
<table border="1">
    <tr>
        <th>STT</th>
        <th>description</th>
        <th>context</th>
        <th>User</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
    <tr th:each="blog,blogStat: ${blogs}">
        <td th:text="${blogStat.count}"></td>
        <td th:text="${blog.description}"></td>
        <td th:text="${blog.context}"></td>
        <td th:text="${blog.getBlogUser().getUserName()}"></td>
        <td><a th:href="@{edit/{id}(id=${blog.getId()})}">Edit</a></td>
        <td><a th:href="@{delete/{id}(id=${blog.getId()})}">Delete</a></td>
    </tr>
</table>
<div>
    <a th:href="@{'/'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
</div>
</body>
</html>